.git
.gitignore
.env
.env.backup
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.log
.idea
.vscode
*.swp
*.swo
docker_dev_setup.sh
README.md

